{% extends "templates/web.html" %}

{% block page_content %}
<h4>{{ title }}</h4>
<h3> Flight Details </h3>
<ul>
    <li>Airline: {{ doc.airplane }}</li>
    <li>{{ doc.source_airport_code }} → {{ doc.destination_airport_code }}</li>
    <li>
        {{ frappe.utils.format_date(doc.date_of_departure, "YYYY-MM-dd") }} | 
        {{ doc.time_of_departure }} 
    </li>
    <li>Duration : {{ frappe.utils.format_duration(doc.duration) }} 
    </li>
</ul>
<a href="/ticket-booking/new?flight={{ title }}" class="btn btn-primary">Book Flight</a>
{% endblock %}

